body {
    background-color: #0d1117;
    color: #e6edf3;
    font-family: Arial, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

h2 {
    font-weight: normal;
    color: #7d8590;
}

a {
    margin-top: 20px;
    color: #58a6ff;
    text-decoration: none;
    font-size: 18px;
}
